/* Just for example */
html {
  background-color: white;
}

/* -----------------------------
Switch */

.uk-switch {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

/* Hide default HTML checkbox */
.uk-switch input {
  display:none;
}
/* Slider */
.uk-switch-slider {
  background-color: rgba(0,0,0,0.22);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 500px;
  bottom: 0;
  cursor: pointer;
  transition-property: background-color;
	transition-duration: .2s;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.07);
}
/* Switch pointer */
.uk-switch-slider:before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  transition-property: transform, box-shadow;
	transition-duration: .2s;
}
/* Slider active color */
input:checked + .uk-switch-slider {
  background-color: #39f !important;
}
/* Pointer active animation */
input:checked + .uk-switch-slider:before {
  transform: translateX(26px);
}

/* Modifiers */
.uk-switch-slider.uk-switch-on-off {
  background-color: #f0506e;
}
input:checked + .uk-switch-slider.uk-switch-on-off {
  background-color: #32d296 !important;
}

/* Style Modifier */
.uk-switch-slider.uk-switch-big:before {
  transform: scale(1.2);
  box-shadow: 0 0 6px rgba(0,0,0,0.22);
}
.uk-switch-slider.uk-switch-small:before {
  box-shadow: 0 0 6px rgba(0,0,0,0.22);
}
input:checked + .uk-switch-slider.uk-switch-big:before {
  transform: translateX(26px) scale(1.2);
}

/* Inverse Modifier - affects only default */
.uk-light .uk-switch-slider:not(.uk-switch-on-off) {
  background-color: rgba(255,255,255,0.22);
}


/* Rework to override the uikit */

:root {
  --carpe-color: #ff5958;
  --carpe-blue: #1890ff;
  --dark-gray:#666;
  --gray: lightgray;
}

/* Setting background of main app. Must go through and actually remove the muted class in some instances */
main.uk-background-muted {
  background-color:white;
}
main .uk-background-muted {
  background-color:white!important;
}

/* Specific for the navbar header class 'carpe-nav-container' */
.carpe-nav-container .uk-navbar-container:not(.uk-navbar-transparent) {
  background:white;
  border-bottom:1px solid lightgray;
}
.carpe-nav-container ul {
  margin-bottom:0;
}

.carpe-nav-container .uk-navbar-left span {
  color:var(--carpe-color);
  font-weight: 700;
}

.carpe-nav-container button.uk-button {
  color: white;
  background-color: var(--carpe-color);
  border-radius: 2em;
  border: 2px solid rgba(255, 62, 0, 0);
  outline: none;
  cursor: pointer;
  margin-left:20px;
  margin-right:15px;
}

.carpe-nav-container .uk-navbar-item {
  min-height: 70px;
}

.carpe-nav-container .uk-tab > * > a {
  text-transform: none;
  color: #bfbebe;
  font-size:16px;
  padding:15px 10px 15px 10px;
  font-weight: 500;
}

.carpe-nav-container .uk-tab > .uk-active > a, .uk-tab > * > a:hover {
  border-color: var(--carpe-color);
  border-width: 2px;
  color:var(--carpe-color);
}

.carpe-nav-container .uk-tab::before {
  border-bottom:none;
}

/* Overriding existing uikit */
@media (min-width: 960px) {
  main .uk-container {
    padding-left:0;
    padding-right:0;
  }
}

/* Nav Dropdown modification */
.carpe-nav-container .uk-dropdown {
  background: white;
  box-shadow: none;
  padding:30px;
  border:1px solid lightgray;
  border-radius: 20px;
}

.carpe-nav-container .uk-dropdown li {
  font-size:16px;
}

.carpe-nav-container .uk-text-primary {
  color:var(--carpe-color)!important;
}

/* Wallet main page */
main .carpe-titles {
  color:var(--carpe-color);
  font-size:2.5rem;
  font-weight: 700;
}
.uk-card.uk-card-primary {
  background-color:white!important;
  border:1px solid lightgray;
  border-radius: 20px;
  margin:30px;
  color:black!important;
}
.uk-card.uk-card-primary h3, .uk-card.uk-card-primary h4 {
  color:var(--carpe-blue)!important;
}
.uk-card-primary.uk-card-hover, .uk-card-primary.uk-card-hover:hover {
  box-shadow: none!important;
}
.uk-card.uk-card-primary p {
  color:var(--dark-gray)!important;
}
.uk-card.uk-card-primary a {
  color:var(--carpe-blue)!important;
}
.uk-card.uk-card-primary span.uk-text-uppercase, .carpe-address-hightlight {
  color:var(--carpe-blue);
  border:1px solid lightgray;
  border-radius:5px;
  padding:10px;
  font-weight: bold;
}

main .uk-button-secondary {
  color: white;
  background-color: var(--carpe-color);
  border-radius: 2em;
  border: 2px solid rgba(255, 62, 0, 0);
  outline: none;
  cursor: pointer;
  margin-left:20px;
  text-transform: capitalize;
}
main .uk-button-secondary:hover {
  background-color: var(--carpe-color);

}
main .uk-button-default {
  color: black;
  background-color: white;
  border-radius: 2em;
  border: 2px solid rgba(255, 62, 0, 0);
  outline: none;
  cursor: pointer;
  margin-left:20px;
  text-transform: capitalize;
  border:1px solid lightgray;
}

.carpe-wallet-list-container {
  padding:0 50px 0 50px;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin:30px 30px 0 30px;
}

/* Miner details */
.carpe-color, .uk-card.uk-card-primary.carpe-color, .uk-card.uk-card-primary h3.carpe-color, .uk-card.uk-card-primary h4.carpe-color {
  color:var(--carpe-color)!important;
}

/* Spin loader of menu icon */
.loading-rotation {
  display: inline-block;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Transaction page */
.carpe-card {
  background-color:white!important;
  border:1px solid lightgray;
  border-radius: 20px;
  margin:30px;
  color:black!important;
}